.Card {
  border: 2px solid #ccc;
  float: left;
  box-shadow: 7px 7px 15px #ccc;
  margin: 50px 40px;
  width: 250px;
  height: 250px;
  padding: 20px;
  border-radius: 5%;
  background-color: white;
}
